
    <main>
        <form action="/admin/add-product" method="post" class="product-form">
              <label for="product" class="form-control-label">product name</label>
            <input type="text" id="product" name="product" class="form-control-input" />
            <button type="submit">add product</button>
        </form>
    </main>
